PORT=5000
DB=mongodb://localhost:27017/dynamic_form
JWT_SECRET=this is secret token

name=
email=
password=

organization=
role=

origin=http://ip1,http://ip2,http://ip3
redis_url= redis://ip:PORT
LIMIT=10    
API_KEY=here is your key.